<?xml version='1.0' encoding='utf-8'?>
<widget id="org.peoplebleacher.mobile" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>People Bleacher</name>
    <description>Local Android proof of concept for the People Bleacher workflow.</description>
    <author email="dev@local">
        People Bleacher
    </author>
    <content src="index.html" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="android-compileSdkVersion" value="34" />
    <preference name="android-buildToolsVersion" value="34.0.0" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
